
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;
}

body{
    background-color:gainsboro;
}

header{
    background-color: darkgray;
}

h1{
    text-align: center;
    font-size: 60px;
}

nav{
    text-align: center;
    font-size: larger;
    margin: 20px 10px;
    padding: 10px;
    
}

 .slider-box {
    width: 1000px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;
}

.slider-box ul {
    display:flex;
    padding: 0;
    width: 400%;

    animation: mover 20s infinite alternate ease-in-out;
}

.slider-box li{
    list-style: none;
    width: 100%;
    position: relative;
}

.slider-box img {
    width: 100%;
} 

@keyframes mover {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

 /* @media(max-width:991) {

    body{
        padding: 30px;
    }

    .slider-box{
        width: 100%;
    }

    h1{
        top: 50%;
        padding: 0;
    }
}
*/

.info-box {
    width: 400px;
    height: 400px;
    margin: 150px;
    overflow: hidden;
}

.info-box ul {
    display:flex;
    padding: 0;
    width: 400%;
}

.info-box li{
    list-style: none;
    width: 100%;
    position: relative;
}

.texto-box {
    position:relative;
    width: 1000px;
    height: 1000px;
    
}

.texto-box p{
    position: relative;
    float: right;
    
}

