
/* CSS original */


/*******************************
******* INDEX ******************
*******************************/
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
}

main {
    padding: 10px;
}

.pie{
    padding-top: 75px;
    background-color: #333;
    border-top-style:solid;
    border-width: 3px;
}

.pie nav{
    text-align: left;
}

h1{
    text-align: center;
    font-size: 60px;

}

nav{
    text-align: right;
    font-size: larger;
    padding: 35px;
    text-decoration: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    
}


.slider-box {
    width: 90%;
    height: auto;
    padding-top: 50px;
    margin: auto auto 0;
    overflow: hidden;
    border-color: black;
}

.slider-box ul {
    display: flex;
    padding: auto;
    width: 400%;
    animation: mover 20s infinite alternate ease-in-out;
}

.slider-box li{
    list-style: none;
    width: 100%;
}

.slider-box img {
    width: 90%;
    height: 90%;
    border-style: solid;
    border-width: 3px;
}

@keyframes mover {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.info-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 125px;
}

.imagen-box{
    flex: 1;
    margin-left: 550px;
    height: 400px;
}

.imagen-box img{
    border-radius: 20px;
    border-style: solid;
    border-width: 3px;
    height: 100%;
}

.texto-box{
    width: 700px;
    height: 375px;
    font-size: 22px;
    margin-right: 540px;
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    overflow: auto;
    word-wrap: break-word;
    box-sizing: border-box;
}

.texto-box p{
    width: 100%;
    height: 100%;
}

.contenedor-imagen {
    position: relative;
    margin-top: 120px;
}

.contenedor-imagen img{
    width: 2112px;
    height: 500px;
    border: 3px solid black;
}

.texto-superpuesto {
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.texto-superpuesto p {
    margin: 0;
}

.texto-superpuesto .enlace {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    background-color: #3b82cd;
    border-radius: 5px;
}

.texto-superpuesto .enlace:hover {
    background-color: #0056b3;
}

/* Media Queries */
@media (max-width: 2040px) {
    

    .info-box {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .imagen-box {
        display: flex;
        margin-left: 15%;
        align-items: center;
        margin-bottom: 20px;
    }

    .imagen-box img{
        width: 65%;
        flex-direction: row;
    }

    .texto-box {
        margin-right: 30px;
        max-width: 50%;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }

    .contenedor-imagen img {
        width: 100%;
        height: auto;
    }

}

@media (max-width: 1280px) {
    .slider-box {
        width: 100%;
    }

    .info-box {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .imagen-box {
        display: flex;
        margin-left: 30%;
        align-items: center;
        margin-bottom: 20px;
    }

    .imagen-box img{
        width: 65%;
    }

    .texto-box {
        margin-right: 30px;
        max-width: 90%;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }

    .contenedor-imagen img {
        width: 100%;
        height: auto;
    }


}

@media (max-width: 1200px) {
    .slider-box {
        width: 100%;
    }

    .info-box {
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .imagen-box {
        display:flex;
        margin-left: 30%;
        align-items: center;
        margin-bottom: 20px;
    }

    .imagen-box img{
        width: 65%;
    }

    .texto-box {
        margin-right: 0;
        max-width: 90%;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    .contenedor-imagen img {
        width: 100%;
        height: auto;
    }

    .texto-superpuesto {
        width: 30%;
        left: 80%;
    }
}

@media (max-width: 768px) {
    .encabezado {
        text-align: center;
        padding: 20px;
    }

    nav {
        text-align: center;
        gap: 10px;
        padding: 20px 10px;
    }

    h1 {
        font-size: 40px; /* Mantener un tamaño de fuente grande para el título */
    }

    .info-box {
        flex-direction: column; /* Asegura que los elementos estén en columna */
        align-items: center;
    }

    .imagen-box {
        display: flex;
        margin-left: 30%; /* Asegura que no haya desplazamiento */
        align-items: center;
        margin-bottom: 20px;
        width: 80%; /* Reducir el tamaño de la imagen */
    }

    .imagen-box img {
        border-radius: 10px;
        align-items: center;
    }

    .texto-box {
        font-size: 18px; /* Reducir el tamaño del texto */
        margin: 20px 0;
        max-width: 70%; /* Reducir el tamaño máximo del texto */
        text-align: center;
        width: 80%; /* Asegura que el texto se ajuste bien */
    }

    .texto-superpuesto {
        left: 70%; /* Ajustar la posición para que quede más visible */
        width: 50%; /* Aumentar el tamaño del overlay */
        font-size: 14px; /* Aumentar el tamaño del texto dentro del overlay */
        padding: 15px; /* Aumentar padding para mejor visibilidad */
    }

    .slider-box {
        width: 100%; /* Hacer que el slider ocupe todo el ancho */
        height: 350px; /* Reducir la altura del slider para hacerlo más destacado */
    }

    .slider-box ul {
        animation: mover 15s infinite alternate ease-in-out; /* Ajustar la animación para que sea más lenta */
    }

    .slider-box img {
        height: 100%; /* Asegura que las imágenes del slider ocupen el 100% de la altura */
    }

    .texto-superpuesto .enlace {
        padding: 10px 20px;
        font-size: 14px;
    }

    /* Ajustes adicionales para la imagen grande que aparece encima del texto */
    .contenedor-imagen img {
        width: 100%; /* Asegura que la imagen ocupe todo el ancho */
        height: auto;
        border-radius: 10px;
    }
}


@media (max-width: 480px) {
    h1 {
        font-size: 30px;
    }

    nav {
        font-size: medium;
        padding: 10px 0;
    }

    .texto-box {
        font-size: 16px;
        padding: 10px;
    }

    .texto-superpuesto {
        width: 40%;
        padding: 10px;
    }

    .texto-superpuesto .enlace {
        padding: 2px 5px;
        font-size: 11px;
    }
}
